*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eee;

  display: grid;
  grid-template-areas:
    "menu top top"
    "menu form form"
    "menu form form"; 
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}


.top-bar {
  grid-area: top;
  background-color: #00bfff;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.menu {
    grid-area: menu;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.menu a{
    background-color: #04C9F4;
    color: white;
    text-decoration: none;
    margin: 0;
    border: none;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 0;
    font-size: 16px;
    transition: background-color 0.2s;
}

.menu a:hover {
  background-color: #d0d0d0;
}


.form-container {
  grid-area: form;
  margin: 20px;
  padding: 20px;
  background: #ddd;
  display: grid;
}

.form-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.btn-group {
  margin-top: 10px;
}

.btn {
  margin: 4px;
  padding: 10px;
  width: 90px;
  color: white;
  border: none;
  cursor: pointer;
}

.incluir { background: green; }
.editar { background: orange; }
.salvar { background: deepskyblue; }
.cancelar { background: #aaa; color: black; }
.excluir { background: red; }


.navegacao {
  margin-top: 20px;
}

.navegacao button {
  background: black;
  color: white;
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

